
<a href="#">Yazarlarımız <i class="fa fa-caret-down"></i></a>
<ul>
    @foreach (var item in @ViewBag.AuthorList)
    {
        <li><a href="/yazarlar/@BlogSite.Utils.UrlDuzenleme.UrlCevir(item.NameSurname).ToLower()">@item.NameSurname</a></li>
    }
</ul>
